.container .page {
  margin-top: 18%;
  margin-bottom: 2%;
}

.container .section {
  padding: 2%;
}

img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
