.container .page {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 8rem;
    /* overflow: visible; */
    scroll-padding-top: 10rem;
}

/* .container .section {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

img {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .container .page {
        /* padding: 16vh 6vw; */
        height: 100%;

    }

    img {
        height: 45vh;
    }
}

@media only screen and (max-width: 1000px) {
    .container .page {
        /* padding: 14vh 4vw; */
        height: 100%;

    }
}