.container .page {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 12vh;
    height: 76vh;
}

.container .section {
    padding: 2%;
}

.validacion {
    font-style: italic;
    color: grey;
}

@media only screen and (max-width: 768px) {
    .container .page {
        margin: 16vh 6vw;

    }
}

@media only screen and (max-width: 1000px) {
    .container .page {
        margin: 14vh 4vw;

    }
}