<div class="app-servicios">
  <header class="header">
    <div class="text-box" id="sec2">
      <h2 class="heading-primary">Nuestros servicios</h2>
    </div>
  </header>

  <div class="container">
    <div class="page">
      <!-- <div class="section sec1">
        <h2 id="sec2" class="mb-3 text-center">Nuestros Servicios</h2>
      </div> -->
      <div class="row text-center">
        <!-- <div class="col-sm-12 col-md-6 col-xl-4 button_slide slide_down blue"> -->
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="service-card button_slide slide_down blue">
            <div class="row top-half">
              <div class="col-sm">
                <h4>Investigación, Asesoría y Planificación Estratégica</h4>
              </div>
            </div>

            <div class="row bottom-half">
              <div class="col-sm hide">
                Investigamos y conocemos a tu cliente y público objetivo,
                estudiamos tus ventajas competitivas, buscamos el valor agregado
                de tu marca para elaborar una planificación a la medida de tu
                negocio.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="button_slide slide_down red">
            <div class="row top-half">
              <div class="col-sm">
                <h4 class="">Marketing Digital</h4>
              </div>
            </div>

            <div class="row bottom-half">
              <div class="col-sm hide">
                Utilizamos las herramientas que nos brinda el mundo digital para
                lograr mayor alcance y posicionamiento con una inversión
                controlada y potenciando tus objetivos comerciales.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="service-card button_slide slide_down yellow">
            <div class="row top-half">
              <div class="col-sm">
                <h4 class="">Gestión de Redes Sociales</h4>
              </div>
            </div>
            <div class="row bottom-half">
              <div class="col-sm hide">
                Armamos un plan a la medida de tu proyecto. No publicamos porque
                sí, no nos importa la cantidad de seguidores porque no es
                sinónimo de calidad; publicamos contenido relevante para tu
                comunidad.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="service-card button_slide slide_down blue">
            <div class="row top-half">
              <div class="col-sm">
                <h4 class="">Desarrollo Web</h4>
              </div>
            </div>
            <div class="row bottom-half">
              <div class="col-sm hide">
                Lo que ya es exitoso en el mundo físico puede serlo en el
                digital también. Desarollo de ecommerce, sitios web
                institucionales, landings y micro sitios que se conviertan en tu
                vidriera virtual.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="service-card button_slide slide_down red">
            <div class="row top-half">
              <div class="col-sm">
                <h4 class="">Diseño Gráfico</h4>
              </div>
            </div>
            <!-- <p class="hide">
            Creamos marcas, las desarrollamos y acompañamos en su proceso de
            crecimiento y maduración. Generamos piezas a la medida de cada
            campaña de comunicación. Ponemos en imagen tu identidad.
          </p> -->

            <div class="row bottom-half">
              <div class="col-sm hide">
                Creamos marcas, las desarrollamos y acompañamos en su proceso de
                crecimiento y maduración. Generamos piezas a la medida de cada
                campaña. Ponemos en imagen tu identidad.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="service-card button_slide slide_down yellow">
            <div class="row top-half">
              <div class="col-sm">
                <h4 class="">Producción Multimedia</h4>
              </div>
            </div>
            <div class="row bottom-half">
              <div class="col-sm hide">
                Una buena producción de fotos y videos habla por sí sóla.
                Producimos contenido dinámico e interactivo dando a conocer tu
                producto y servicio en su máxima expresión.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
