.container .page {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}

.container .section {
  text-align: center;
  /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

@media (max-width: 768px) {
  .container .page {
    padding-top: 2rem;
    height: 100%;
  }
}
