.container .page {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: visible; */
    padding-top: 8rem;
    scroll-padding-top: 10rem;
}

.container .section {
    text-align: center;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

@media only screen and (max-width: 768px) {
    .container .page {
        height: 100%;

    }
}

@media only screen and (max-width: 1000px) {
    .container .page {
        height: 100%;

    }
}