<div class="container" data-aos="fade-up" data-aos-duration="1500" data-aos-easing="linear" data-aos-anchor-placement="center-bottom">
    <div class="page">
        <div class="section sec1">
            <h2 class="mb-3 text-center">Nuestros Servicios</h2>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-md-6 col-xl-4 mt-3 mb-2">
                <h4 class="mt-3 mb-3">
                    Investigación, Asesoría y Planificación Estratégica
                </h4>
                <p>
                    Investigamos y conocemos a tu cliente y público objetivo, estudiamos
                    tus ventajas competitivas, buscamos el valor agregado de tu marca para
                    elaborar una planificación a la medida de tu negocio.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 mt-3 mb-3">
                <h4 class="mt-3 mb-3">Marketing Digital</h4>
                <p>
                    Utilizamos las herramientas que nos brinda el mundo digital para
                    lograr mayor alcance y posicionamiento con una inversión controlada y
                    potenciando tus objetivos comerciales.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 mt-3 mb-3">
                <h4 class="mt-3 mb-3">Gestión de Redes Sociales</h4>
                <p>
                    Armamos un plan a la medida de tu proyecto. No publicamos porque sí,
                    no nos importa la cantidad de seguidores porque sabemos no es sinónimo
                    de calidad; publicamos contenido relevante para tu comunidad.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 mt-3 mb-3">
                <h4 class="mt-3 mb-3">Desarrollo web</h4>
                <p>
                    Lo que ya es exitoso en el mundo físico puede serlo en el digital
                    también. Desarollo de ecommerce, sitios web institucionales, landings
                    y micro sitios que se conviertan en tu vidriera virtual.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 mt-3 mb-3">
                <h4 class="mt-3 mb-3">Diseño gráfico</h4>
                <p>
                    Creamos marcas, las desarrollamos y acompañamos en su proceso de
                    crecimiento y maduración. Generamos piezas a la medida de cada campaña
                    de comunicación. Ponemos en imagen tu identidad.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 mt-3 mb-3">
                <h4 class="mt-3 mb-3">Producción multimedia</h4>
                <p>
                    Una buena producción de fotos y videos habla por sí sóla. Producimos
                    contenido dinámico e interactivo dando a conocer tu producto y
                    servicio en su máxima expresión.
                </p>
            </div>
        </div>
    </div>
</div>