<!-- <div class="container" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement:="top-center"> -->
<div class="container">
  <div class="page">
    <div class="section sec1">
      <h2 id="sec2" class="mb-3 text-center">Nuestros Servicios</h2>
    </div>
    <div class="row text-center">
      <!-- <div class="col-sm-12 col-md-6 col-xl-4 button_slide slide_down blue"> -->
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="service-card button_slide slide_down blue">
          <h4 class="">Investigación, Asesoría y Planificación Estratégica</h4>
          <p class="not-hide"><i class="arrow down"></i></p>
          <p class="hide">
            Investigamos y conocemos a tu cliente y público objetivo, estudiamos
            tus ventajas competitivas, buscamos el valor agregado de tu marca
            para elaborar una planificación a la medida de tu negocio.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="service-card button_slide slide_down red">
          <h4 class="">Marketing Digital</h4>
          <p class="not-hide"><i class="arrow down"></i></p>
          <p class="hide">
            Utilizamos las herramientas que nos brinda el mundo digital para
            lograr mayor alcance y posicionamiento con una inversión controlada
            y potenciando tus objetivos comerciales.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="service-card button_slide slide_down yellow">
          <h4 class="">Gestión de Redes Sociales</h4>
          <p class="not-hide"><i class="arrow down"></i></p>
          <p class="hide">
            Armamos un plan a la medida de tu proyecto. No publicamos porque sí,
            no nos importa la cantidad de seguidores porque no es sinónimo de
            calidad; publicamos contenido relevante para tu comunidad.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="service-card button_slide slide_down blue">
          <h4 class="">Desarrollo Web</h4>
          <p class="not-hide"><i class="arrow down"></i></p>
          <p class="hide">
            Lo que ya es exitoso en el mundo físico puede serlo en el digital
            también. Desarollo de ecommerce, sitios web institucionales,
            landings y micro sitios que se conviertan en tu vidriera virtual.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="service-card button_slide slide_down red">
          <h4 class="">Diseño Gráfico</h4>
          <p class="not-hide"><i class="arrow down"></i></p>
          <!-- <p class="hide">
            Creamos marcas, las desarrollamos y acompañamos en su proceso de
            crecimiento y maduración. Generamos piezas a la medida de cada
            campaña de comunicación. Ponemos en imagen tu identidad.
          </p> -->
          <p class="hide">
            Creamos marcas, las desarrollamos y acompañamos en su proceso de
            crecimiento y maduración. Generamos piezas a la medida de cada
            campaña. Ponemos en imagen tu identidad.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="service-card button_slide slide_down yellow">
          <h4 class="">Producción Multimedia</h4>
          <p class="not-hide"><i class="arrow down"></i></p>
          <p class="hide">
            Una buena producción de fotos y videos habla por sí sóla. Producimos
            contenido dinámico e interactivo dando a conocer tu producto y
            servicio en su máxima expresión.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
