* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-js {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background: linear-gradient(#ffffff);
}

.contenedor {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contenedor img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.contenedor img.logo {
  height: 100%;
  width: 70%;
  display: block;
  margin: auto;
  top: auto;
  left: auto;
}

.contenedor h2 {
  text-align: center;
  z-index: 1;
  position: relative;
  color: black;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 32px;
  line-height: 60px;
}

.contenedor h2 span {
  font-size: 48px;
  font-weight: 480;
  letter-spacing: 10px;
}

@media (max-width: 800px) {
  .contenedor h2 {
    font-size: 60px;
    letter-spacing: 19px;
    line-height: 35px;
  }
  .contenedor h2 span {
    font-size: 26px;
  }
}

@media (max-width: 380px) {
  .contenedor h2 {
    font-size: 30px;
    letter-spacing: 9px;
    line-height: 15px;
  }
  .contenedor h2 span {
    font-size: 14px;
  }
}
