<!-- <div id="particles-js" class="body"></div> -->

<div class="home">
  <div id="sec0" class="contenedor" data-aos="fade-up" data-aos-duration="3000">
    <!-- <div id="sec0" class="contenedor"> -->
    <img
      src="assets/images/Banner-web-Takuara-negro2.png"
      class="logo"
      data-value="1"
    />
    <img src="assets/images/1.png" class="object" data-value="2" />
    <img src="assets/images/2.png" class="object" data-value="6" />
    <img src="assets/images/3.png" class="object" data-value="-5" />
    <img src="assets/images/4.png" class="object" data-value="-7" />
    <img src="assets/images/5.png" class="object" data-value="8" />
    <img src="assets/images/6.png" class="object" data-value="-3" />

    <div *ngIf="!isMobileScreen" class="frase">
      <h4 class="mt-3 mb-1">
        Porque tu <span>idea</span> puede cobrar vida de la mano de un
        <span>equipo de profesionales</span> preparado para acompañar tu
        <span>proyecto</span>. Con creatividad, conocimiento, herramientas y
        estrategias, llevando tu <span>marca</span> al siguiente
        <span>nivel</span>.
      </h4>
    </div>
  </div>

  <div class="frase2" *ngIf="isMobileScreen">
    <h4 class="mt-3 mb-1">
      Porque tu <span>idea</span> puede cobrar vida de la mano de un
      <span>equipo de profesionales</span> preparado para acompañar tu
      <span>proyecto</span>. Con creatividad, conocimiento, herramientas y
      estrategias, llevando tu <span>marca</span> al siguiente
      <span>nivel</span>.
    </h4>
  </div>
</div>
