* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-js {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background: linear-gradient(#ffffff);
}

.contenedor {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.contenedor img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: 99;
}

.contenedor img.logo {
  height: 100%;
  width: 70%;
  display: block;
  margin: auto;
  top: auto;
  left: auto;
  z-index: 999;
}

@media (max-width: 872px) {
  .contenedor img.logo {
    height: 110%;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contenedor img.logo {
    height: 120%;
    width: 150%;
  }
}

@media (max-width: 425px) {
  .contenedor {
    height: 50vh;
  }
}
