<!-- <div id="particles-js" class="body"></div> -->
<div class="banner">
    <div class="contenedor" data-aos="fade-up" data-aos-duration="1500">
        <img src="assets/images/Banner-web-Takuara-negro.png" class="object logo" data-value="1" />
        <img src="assets/images/1.png" class="object" data-value="-2" />
        <img src="assets/images/2.png" class="object" data-value="6" />
        <img src="assets/images/3.png" class="object" data-value="4" />
        <img src="assets/images/4.png" class="object" data-value="-6" />
        <img src="assets/images/5.png" class="object" data-value="8" />
        <img src="assets/images/6.png" class="object" data-value="-4" />
        <img src="assets/images/7.png" class="object" data-value="5" />
        <img src="assets/images/8.png" class="object" data-value="-9" />
        <img src="assets/images/9.png" class="object" data-value="-5" />
    </div>
</div>