.container .page {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 80vh;
  z-index: 0;
  padding-top: 8rem;
}

.container .section {
  text-align: center;
  /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

.group {
  display: block;
}

.group .img {
  max-height: 10vh;
}

.group .texto {
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .container .page {
    height: 100%;
  }
}
