<!-- <div class="container" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear"> -->
<div class="container">
  <div class="page">
    <div class="section sec1">
      <h2 class="mb-3" id="sec1">4 Motivos para trabajar juntos</h2>
      <div class="row">
        <!-- <div class="col-sm-12 col-md-6 col-xl mt-4"> -->
        <div class="col-sm-12 col-md-6 mt-4">
          <div class="group">
            <img src="assets/images/Analisis-1.png" alt="" class="img" />
            <div class="texto">
              Analizamos el mercado, te asesoramos, definimos objetivos y
              planificamos juntos la estrategia.
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-12 col-md-6 col-xl mt-4"> -->
        <div class="col-sm-12 col-md-6 mt-4">
          <div class="group">
            <img src="assets/images/Herramientas-2.png" alt="" class="img" />
            <div class="texto">
              Utilizamos herramientas que potencian tu marca y te permitan
              alcanzar nuevos horizontes, y además obtengas resultados.
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl mt-4">
          <div class="group">
            <img src="assets/images/Contenido-3.png" alt="" class="img" />
            <div class="texto">
              Producimos contenido de calidad, creativo y adaptado a cada canal
              de comunicación.
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl mt-4">
          <div class="group">
            <img src="assets/images/Vinculo-4.png" alt="" class="img" />
            <div class="texto">
              Generamos un vínculo estrecho con tu producto y servicio para
              marcar la diferencia.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
