@font-face {
  src: url(src/assets/fonts/BAHNSCHRIFT.TTF);
  font-family: bahn;
}
.main-footer {
  background-color: rgb(63, 63, 63);
  color: white;
  font-family: bahn;
}

.main-footer h6 {
  font-weight: bolder;
}

.icono {
  height: 2rem;
  margin: 0.5rem;
}
