<header class="fixed-top">
  <app-menu></app-menu>
</header>

<app-wp-button></app-wp-button>
<div class="divBody" data-aos="fade-up" data-aos-duration="800">
  <!-- <router-outlet></router-outlet> -->

  <app-home></app-home>
  <app-motivos></app-motivos>
  <app-servicios></app-servicios>
  <app-portfolio></app-portfolio>
  <app-contacto></app-contacto>
</div>

<!-- <footer class="main-footer text-center">
  <small>
    <span>© Takuara</span>
  </small>
</footer> -->

<!-- Footer -->
<footer class="text-center text-lg-start main-footer">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="container">
      <!-- Left -->
      <!-- <div class="me-5 d-none d-lg-block">
        <span>Seguinos en redes sociales!</span>
      </div> -->
      <!-- Left -->

      <!-- Right -->
      <div class="">
        <a
          href="https://www.facebook.com/takuara.agencia/"
          class="me-4 link-secondary"
        >
          <img class="icono" src="../assets/images/icons/Facebook.png" alt="" />
        </a>
        <a
          href="https://www.instagram.com/takuara.agencia/"
          class="me-4 link-secondary"
        >
          <img
            class="icono"
            src="../assets/images/icons/Instagram.png"
            alt=""
          />
        </a>
        <a
          href="https://www.linkedin.com/company/takuara-agencia-de-comunicacion/"
          class="me-4 link-secondary"
        >
          <img class="icono" src="../assets/images/icons/Linkedin.png" alt="" />
        </a>
        <a href="https://vimeo.com/user136497384/" class="me-4 link-secondary">
          <img class="icono" src="../assets/images/icons/Vimeo.png" alt="" />
        </a>
        <a
          href="https://wa.me/5493525435150?text=Hola%20Takuara"
          class="me-4 link-secondary"
        >
          <img class="icono" src="../assets/images/icons/Whatsapp.png" alt="" />
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div> -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <strong>Secciones</strong>
          </h6>
          <p>
            <a href="#sec1" class="text-reset">Por Qué Elegirnos?</a>
          </p>
          <p>
            <a href="#sec2" class="text-reset">Qué Ofrecemos?</a>
          </p>
          <p>
            <a href="#sec3" class="text-reset">Nuestro Trabajo</a>
          </p>
          <p>
            <a href="#sec4" class="text-reset">Contactános</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Colón 225 Oficinas 1 y 2</p>
          <p>
            <i class="fas fa-home me-3 text-secondary"></i> Jesús María,
            Córdoba, Argentina
          </p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@takuara.com.ar
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> 3525520345</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    ©2022 Takuara
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
