.navegacion {
  background: #eae8e2;
  transition: 0.5s ease-in;
  font-weight: bold;
}

.navegacion a {
  color: #000;
  cursor: pointer;
}

.navegacion .item1:hover {
  background: #fbb846;
  color: #fff;
  transition: 250ms ease;
}

.navegacion .item2:hover {
  background: #1d75ac;
  color: #fff;
  transition: 250ms ease;
}

.navegacion .item3:hover {
  background: #ce4735;
  color: #fff;
  transition: 250ms ease;
}

/* .navegacion .item4:hover {
  background: rgb(206, 70, 52);
  transition: 250ms ease;
  font-weight: bold;
} */

.navegacion .item1 {
  transition: 250ms ease;
}

.navegacion .item2 {
  transition: 250ms ease;
}

.navegacion .item3 {
  transition: 250ms ease;
}

.navegacion .item4 {
  transition: 250ms ease;
}

.iso {
  height: 40px;
  width: 40px;
}

.nav-item {
  margin: 10px !important;
  padding: 2px 5px !important;
}

.navbar-color1 {
  background-color: #fbb846;
  transition: 0.5s ease-in;
}

.navbar-color2 {
  background-color: #1d75ac;
  transition: 0.5s ease-in;
}

.navbar-color3 {
  background-color: #ce4735;
  transition: 0.5s ease-in;
}

@media only screen and (max-width: 767px) {
  .nav-item {
    text-align: center !important;
  }
}
