<nav
  class="navbar navbar-header navbar-light navbar-expand-md navegacion"
  id="navbar"
>
  <a
    class="navbar-brand"
    routerLink="/home"
    (click)="navbarOpen == true && toggleNavbar()"
  >
    <img src="assets/images/logo-negro.png" class="iso" />
  </a>
  <button
    class="navbar-toggler text-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngClass]="{ show: navbarOpen }"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item item1">
        <a
          class="nav-link"
          routerLink="/motivos"
          title="Nuestra Misión"
          (click)="toggleNavbar()"
          >Nuestra Misión</a
        >
      </li>
      <li class="nav-item item2">
        <a
          class="nav-link"
          routerLink="/servicios"
          title="Que Ofrecemos?"
          (click)="toggleNavbar()"
          >Que Ofrecemos?</a
        >
      </li>
      <li class="nav-item item3">
        <a
          class="nav-link"
          routerLink="/portfolio"
          title="Nuestro Trabajo"
          (click)="toggleNavbar()"
          >Portfolio</a
        >
      </li>
      <li class="nav-item item4">
        <a
          class="nav-link"
          routerLink="/contacto"
          title="Contacto"
          (click)="toggleNavbar()"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</nav>
