.navegacion {
  background: transparent;
  transition: 0.5s ease-in;
}

.navegacion a {
  color: rgb(63, 63, 63);
  cursor: pointer;
}

.navegacion .item1:hover {
  background: rgb(24, 117, 179);
  transition: 250ms ease;
  font-weight: bold;
}

.navegacion .item2:hover {
  background: rgb(206, 70, 52);
  transition: 250ms ease;
  font-weight: bold;
}

.navegacion .item3:hover {
  background: rgb(24, 117, 179);
  transition: 250ms ease;
  font-weight: bold;
}

.navegacion .item4:hover {
  background: rgb(206, 70, 52);
  transition: 250ms ease;
  font-weight: bold;
}

.navegacion .item1 {
  transition: 250ms ease;
}

.navegacion .item2 {
  transition: 250ms ease;
}

.navegacion .item3 {
  transition: 250ms ease;
}

.navegacion .item4 {
  transition: 250ms ease;
}

.iso {
  height: 40px;
  width: 40px;
}

.nav-item {
  margin: 10px !important;
  padding: 2px 5px !important;
}

@media only screen and (max-width: 767px) {
  #navbar {
    background-color: rgb(251, 184, 70) !important;
  }

  .nav-item {
    text-align: center !important;
  }
}
